<div class="container text-center">

  <div class="col-md-7 p-lg-3 mx-auto">
    <p id="p">
      COMP 229 - Wev Application Development
    </p>
  </div>

  <div class="col-md-8 p-lg-3 mx-auto">
    <p id="p1" >
      The group chose to develop a survey web page for this project.
    </p>
  </div>

  <div class="col-md-8 p-lg-3 mx-auto">
    <p id="p2">
      Team members
    </p>
  </div>

  <div class="row">
    <div class="col-3">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="./assets/about/Bruna.jpeg" alt="The Leader">
        <div class="card-body">
          <h5 class="card-title">Bruna Donatoni</h5>
          <p class="card-text">301199383</p>
          <p class="card-text">Team Leader</p>
          <a href=""><i class="fa-brands fa-github fa-xl"></i></a>
          <a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="col-3">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="./assets/about/phelipe.jpg" alt="The Boss">
          <div class="card-body">
            <h5 class="card-title">Phelipe da Silva</h5>
            <p class="card-text">301233605</p>
            <p class="card-text">Tech Leader</p>
            <a href=""><i class="fa-brands fa-github fa-xl"></i></a>
            <a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="./assets/about/eduardo.jpeg" alt="Go Argentina">
        <div class="card-body">
          <h5 class="card-title">Eduardo Missono</h5>
          <p class="card-text">301200673</p>
          <p class="card-text">Dev Subordinate</p>
          <a href=""><i class="fa-brands fa-github fa-xl"></i></a>
          <a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="card" style="width: 15rem;">
        <img class="card-img-top" src="./assets/about/ramin.JPG" alt="The Designer">
        <div class="card-body">
          <h5 class="card-title">Ramin Beiramzadegan</h5>
          <p class="card-text">301254240</p>
          <p class="card-text">Team Designer</p>
          <a href=""><i class="fa-brands fa-github fa-xl"></i></a>
          <a href=""><i class="fa-brands fa-linkedin fa-xl"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
