<div class="container text-center">

<div class="row">
    <div class="col"></div>
    <div class="col"><p>COMP 229 - Wev Application Development</p></div>
    <div class="col"></div>

</div>
<div class="row">
    <div class="col"></div>
    <div class="col"><p id="p1">The group chose to develop a survey web page for this project.</p></div>
    <div class="col"></div>

</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2"><p id="p2">Team members</p></div>
    <div class="col-md-6"></div>

</div>
<div class="row justify-content-md-center">
   
        <div class="col-1"></div>
        <div class="col-1"><img class="dot" id="c1" src="" alt=""></div>
        <div class="col-1"><img class="dot" id="c2" src="" alt=""></div>
        <div class="col-1"><img class="dot" id="c3" src="" alt=""></div>
        <div class="col-1"><img class="dot" id="c4" src="assets/home/ramin.JPG" alt=""></div>


    <div class="col"></div>

</div>
<div class="row justify-content-md-center">
    <div class="col-1"></div>
    <div class="col-1"><h6 id="bruna">Bruna Donatoni 301199383</h6></div>
    <div class="col-1"><h6 id="Eduardo">Eduardo Missono Student Id</h6></div>
    <div class="col-1"><h6 id="Phelipe">Phelipe da Silva Student Id</h6></div>
    <div class="col-1"><h6 id="ramin">Ramin Beiramzadegan 301254240</h6></div>

    <div class="col"></div>
</div>
<div class="row justify-content-md-center">
    <div class="col-1"></div>
    <div class="col-1"><a href=""><i id="git1" class="bi bi-github"  alt=""></i></a><a href=""><i id="lin1"  alt=""></i></a></div>
    <div class="col-1"><a href=""><i id="git2" class="bi bi-github"  alt=""></i></a><a href=""><i id="lin2"  alt=""></i></a></div>
    <div class="col-1"><a href=""><i id="git3" class="bi bi-github"  alt=""></i></a><a href=""><i id="lin3"  alt=""></i></a></div>
    <div class="col-1"><a href=""><i id="git4" class="bi bi-github"  alt=""></i></a><a href=""><i id="lin4"  alt=""></i></a></div>
    
    <div class="col"></div>

</div>

</div>