<div class="col-md-6 p-lg-5 mx-auto testClass">
     <h1 class="display-5 font-weight-normal">Hello!</h1>

     <p class="lead font-weight-normal">If you want to create a survey, you are in the right place.</p>
     <p class="lead font-weight-normal" style="padding-top:20px ;">Let's Start</p>
     <a class="btn btn-outline-secondary text-center" style="padding-top:20px; position: relative;"
          href="/create-survey">Create a Survey!</a>
     <img src="assets/home/dashboards.png" style="position: absolute;
            width: 281px;
            height: 221px;
            margin: 0 100px 100px 100px;" alt="dashboard">
     <img src="assets/home/bullhorn.png" alt="girl with bullhorn" style="position: absolute;
              width: 171px;
              height: 199px;
              margin: 150px 100px 100px -160px;">


</div>
<app-list-survey></app-list-survey>
