<div class="container py-2">
<div class="row">

  <h2 class="col-md-4 my-2">Survey List</h2>
  <div class="col"></div>




  </div>
  <div   class="col-md-4 ">

    <form >
     <button class="form-control btn-survey">Create New Survey</button>

      <div class="form-group">
        <span id="survey-list" class="border border-warning border-2 rounded-pill-0">
          <input type="text" class="form-control form-rounded py-2" placeholder="Survey Name">

          <input type="text" class="form-control form-rounded py-2" placeholder="Survey Name">
         <input type="text" class="form-control form-rounded py-2" placeholder="Survey Name">
          <input type="text" class="form-control form-rounded py-2" placeholder="Survey Name">
          <input type="text" class="form-control form-rounded py-2" placeholder="Survey Name">


        </span>

      </div>
    </form>
</div>

</div>
<div class="col-md-4  mx-auto my-5">
  <br/><br/>

  <ul class="list-group">
    <tr *ngFor="let survey of surveyList">
      <td class="list-group-item">
        {{ survey.surveyName }}
        <button type="button" class="respond" *ngIf="isAvailable(survey)"><a href="#" [routerLink]="['/respond-survey/', survey._id]">Respond</a></button>

        <button type="button" *ngIf="authService.isAuthenticated()" class="delete" (click)="deleteSurvey(survey._id)">Delete</button>
        <button type="button" *ngIf="authService.isAuthenticated()" class="edit" ><a href="#" [routerLink]="['/update-survey/', survey._id]">Edit</a></button>
      </td>
    </tr>
  </ul>
</div>
