/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F7EEEA;
  font-family: "Roboto", sans-serif;
  color: #771711;
}

.btn{
  width: 169px;
  height: 68px;
  color: #F7EEEA;
  background: #771711;
}


