<h1>Update survey</h1>

<form [formGroup]="survey">
  <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#addQuestion" (click)="addQuestion()">
    Add question
  </button>
  
  <div class="form-group">
    <label for="surveyName">Survey name</label>
    <input type="text" class="form-control" id="surveyName" placeholder="Survey name" required formControlName="surveyName">
  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input type="date" class="form-control" id="startDate" placeholder="Start Date" required formControlName="startDate">
  </div>

  <div class="form-group">
    <label for="endDate">End Date</label>
    <input type="date" class="form-control" id="endDate" placeholder="End Date" required formControlName="endDate">
  </div>  

  <div class="form-group">
    <label for="lastModification">Last Modification</label>
    <input type="date" class="form-control" id="lastModification" required formControlName="lastModification" readonly>
  </div> 

  <ng-container formArrayName="questions">
    <ng-container  *ngFor="let questionForm of questions.controls; let i = index;">
      <div [formGroup]="questionForm" >
        <div class="card" style="border-color: red; margin-bottom: 10px;">
            <div class="form-group">
                <label for="description">Question: </label>
                <input type="text" class="form-control" id="description" placeholder="Question" formControlName="description">
            </div>
            Question Type: 
            <div *ngIf="questions.controls[i].value.questionType === 'multipleChoice'; else trueFalse">
                <select class="form-select" formControlName="questionType" onchange="changeQuestionType(event.currentTarget)">
                  <option value="trueFalse">True/False</option>
                  <option value="multipleChoice">Multiple Choice</option>
              </select>
              <div>
              <div class="form-group">
                  <input type="text" class="form-control" id="optionA" placeholder="Option A" formControlName="optionA">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="optionB" placeholder="Option B" formControlName="optionB">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="optionC" placeholder="Option C" formControlName="optionC">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="optionD" placeholder="Option D" formControlName="optionD">
              </div>
          </div>
            </div>
            <ng-template #trueFalse>
              <select class="form-select" formControlName="questionType" onchange="changeQuestionType(event.currentTarget)">
                <option value="trueFalse">True/False</option>
                <option value="multipleChoice">Multiple Choice</option>
              </select>
            </ng-template>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="removeQuestion(i)">Remove</button>
            </div>       
        </div>
      </div>
    </ng-container>
  </ng-container>
  <button type="submit" class="btn btn-primary" (click)="updateSurvey(survey.value)">Update survey</button>
</form>

